<html>
  <body>
    <h1>Choose your shape!</h1>

    <a href="/play_game?user_shape=R">
      <img src="/rock.jpeg"/>
    </a>

    <a href="/play_game?user_shape=P">
      <img src="/paper.jpeg"/>
    </a>

    <a href="/play_game?user_shape=S">
      <img src="/scissors.jpeg"/>
    </a>

  </body>
</html>
